@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Prompt', sans-serif;
}

header {
    background: white;
}

.logopesquisa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    scale: 0.8;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pesquisa {
    margin-left: 40px;
    align-items: center;
    margin-top: 35px;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.24);
}

.barraTexto {
    margin-left: 10px;
    width: 300px;
    outline: 0;
    border: 0;
}

.lupa {
    margin-top: 5px;
    margin-right: 4px;
    scale: 0.9;
}

.acesso>ul>li {
    display: inline-block;
    margin-top: 25px;
    margin-right: 15px;
    list-style-type: none;
}

.acesso>ul>li>a {
    text-decoration: none;
    color: black;
}

.menuHorizontal {
    margin: 0;
    text-align: center;
    height: 45px;
}

.menuHorizontal>ul {
    margin: 0;
    border-top: 3px solid rgba(255, 23, 100, 0.349);
}

.menuHorizontal>ul>li {
    margin-top: 10px;
    display: inline-block;
    list-style-type: none;
    margin-left: 15px;

}

.menuHorizontal>ul>li>a {
    text-decoration: none;
    color: black;
    font-family: 'Prompt', sans-serif;
}

.menuHorizontal>ul>li>a:hover {
    color: rgb(255, 81, 110);
    transition: 0.3s;

}

/*fim menu*/

/*comeco slideshow*/


.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 1000px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
}

.slide {
    width: 33.3%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -33.3%;
}

#radio3:checked~.first {
    margin-left: -66.6%;
}

.navigation-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.slides>input {
    display: none;
}

.manual-btn {
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: white;
    transition: 0.4s;
}

/*fim slideshow*/

/*comeco propaganda*/

.propaganda {
    height: 100px;
    border: 1px solid red;
    margin-top: 6px;
    margin-left: 40px;
    margin-right: 40px;
}

/*fim propaganda*/

/*comeco cards*/
.pprodutos {
    margin-left: 40px;
    font-size: 60px;
}

.produtos {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.produtos h4 {
    color: rgb(255, 68, 99);
}

.card {
    justify-content: center;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.521);
    border-radius: 10px 10px 0px 0px;
    height: 430px;
    margin-left: 50px;
}


.card img {
    height: 200px;
    border-bottom: 2px solid rgba(250, 128, 114, 0.836);
}

.card p {
    position: relative;
    bottom: 30px;
}

.containercard {
    display: flex;
    justify-content: space-between;
    margin: 0 4px;
}

.cardinfo1 {
    position: relative;
    bottom: 5px;
}

.cardinfo3 {
    position: relative;
    bottom: 30px;
    border: 1px solid salmon;
}

.cardinfo2 {
    position: relative;
    bottom: 9px;
    color: rgb(255, 68, 99);
}

.btncompra {
    position: relative;
    left: 50px;
    display: block;
    background-color: rgb(255, 68, 99);
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.btncompra:hover {
    border: 1px solid rgb(255, 68, 99);
    background-color: white;
    color: rgb(255, 68, 99);
    transition: 0.3s;
}

.vermais {
    margin-left: 50px;
}

.vermais a {
    position: relative;
    top: 140px;
    left: 30px;
}

.vermais a:hover img {
    scale: 1.3;
    transition: 0.3s;
}

.vermais img {
    height: 100px;
}

/* fim cards */

/*article*/
.consultora {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

article {
    text-align: center;
    align-items: center;
    width: 50%;
}

article h2 {
    color: rgb(255, 68, 99);
}

.consultora aside img {
    border-radius: 40px;
    height: 400px;
    margin-right: 40px;
}

/*footer*/

footer {
    background-color: rgb(0, 0, 0);
    color: white;

}

.container-footer1 {
    display: flex;
    position: relative;
    top: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.logo-footer {
    margin-left: 10px;
    color: white;
}

.logo-footer p {
    position: relative;
    bottom: 30px;
    left: 17px;
    line-height: 15px;
    font-family: 'Poppins', sans-serif;
}

.redes-footer {
    margin-top: 40px;
    margin-right: 10px;
    color: white;
    font-family: 'Poppins', sans-serif
}


.redes-footer ul li {
    display: inline-block;
}

.redes-footer ul li a img {
    height: 30px;
    filter: invert(1);
}

.redes-footer ul li a img:hover {
    scale: 1.3;
    transition: 0.3s;
}

.container-footer2 {
    justify-content: center;
    display: flex;
}

.subcontainer {
    font-family: 'Poppins', sans-serif;
}

.subcontainer img {
    filter: invert(1);
}

.container-footer3 {
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif
}

/*dropdown*/
.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#drop {
    position: relative;
    top: 4px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: rgb(255, 58, 91);
    transition: 0.3s;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(255, 58, 91);
    color: white;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.3s;
}
.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#drop {
    position: relative;
    top: 4px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: rgb(255, 58, 91);
    transition: 0.3s;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(255, 58, 91);
    color: white;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.3s;
}

